@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lora:wght@400;700&family=Mukta:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffe4;
  padding-top: 4rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}
/* Hide scrollbar for all scrollable content */
::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
